body {
  font-family: "Spartan", sans-serif;
  font-size: 1.6rem;
  font-weight: 500; 
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  color: $color-blue-dark;
}

.paragraph {
  line-height: 1.6;

  @include respond(mobile) {
    font-size: 1.5rem;
  }
}

.section-heading {
  font-size: 4rem;
  text-align: center;

  @include respond(mobile) {
    font-size: 3.5rem;
  }
}