body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.65rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Spartan", sans-serif;
  font-weight: 900;
  color: $color-blue-dark;
}

.paragraph {
  line-height: 1.6;
}

.section-heading {
  font-size: 4rem;
  text-align: center;
}