$color-blue: #042297;
$color-blue-dark: #041464;
$color-blue-dark-2: #030f4e;
$color-blue-light: #0543dd;
$color-azure: #1d89ff;
$color-azure-light: #dcecfc;
$color-azure-light-2: #c3dffc;
$color-error: #e11584;

$padding-side-desktop: 9vw;
$padding-side-mobile: 7vw;

$bshadow-1: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;