.contact {
  padding: 8rem $padding-side-desktop;

  @include respond(mobile) {
    padding: 6rem $padding-side-mobile;
  }

  &__intro {
    margin-bottom: 8rem;

    @include respond(mobile) {
      margin-bottom: 6rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }
}
