/*** INTRO SECTION ***/
.intro {
  &__container {
    padding: 3rem $padding-side-desktop 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tablet) {
      flex-direction: column-reverse;
      text-align: center;
      padding: 3rem $padding-side-mobile 7rem;
    }
  }

  &__content {
    width: 35vw;

    @include respond(tablet) {
      width: 100%;
      max-width: 55rem;
    }
  }

  &__heading {
    font-size: 6rem;
    letter-spacing: -2px;
    line-height: 1.1;
    margin-bottom: 2rem;

    @include respond(tablet-land) {
      font-size: 5rem;
    }

    @include respond(mobile) {
      font-size: 4rem;
    }
  }

  &__img {
    width: 37.5vw;

    @include respond(tablet) {
      width: 100%;
      max-width: 45rem;
      margin-bottom: 5rem;
    }
  }
}

/*** FEATURED WORKS SECTION ***/
.featured-works {
  padding: 8rem $padding-side-desktop 10rem;
  background-color: #fafafa;

  @include respond(tablet) {
    padding: 6rem $padding-side-mobile 7rem;
  }

  &__view-all {
    margin: 3rem auto 5rem;

    @include respond(mobile) {
      font-size: 1.4rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.4vw;
    max-width: 100rem;
    margin: auto;

    @include respond(tablet-land) {
      grid-gap: 4rem;
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-gap: 6rem;
      max-width: 50rem;
    }
  }
}

/*** FEATURES SECTION ***/
.features {
  padding: 8rem $padding-side-desktop;
  text-align: center;

  @include respond(tablet) {
    padding: 6rem $padding-side-mobile;
  }

  &__heading {
    margin-bottom: 6rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(tablet) {
      flex-direction: column;
      max-width: 50rem;
      margin: auto;
    }

    .feature:not(:last-child) {
      margin-right: 10vw;

      @include respond(tablet) {
        margin-right: 0;
        margin-bottom: 7rem;
      }
    }
  }
}

.tools {
  background-color: $color-azure-light;
  color: $color-blue-dark;
  padding: 8rem $padding-side-desktop;

  @include respond(tablet) {
    padding: 6rem $padding-side-mobile;
  }

  &__heading {
    margin-bottom: 6rem;
  }

  &__grid {
    max-width: 70rem;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-rows: repeat(5, min-content);
    grid-row-gap: 2rem;

    @include respond(tablet) {
      max-width: 55rem;
    }

    @include respond(mobile-land) {
      max-width: 50rem;
    }

    @media only screen and (max-width: 345px) {
      grid-auto-flow: initial;
      justify-items: center;
      grid-template-rows: unset;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-text {
    font-size: 2.7rem;
    font-weight: 600;

    @include respond(mobile) {
      font-size: 1.8rem;
    }
  }

  &__item-icon {
    fill: $color-blue-dark;
    margin-right: 1.2rem;
    height: 5rem;
    width: 5rem;

    @include respond(mobile) {
      margin-right: 1rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
