// INTRO SECTION
.intro {
  height: 70rem;
  position: relative;

  @include respond(tablet) {
    height: 60rem;
  }

  @include respond(mobile) {
    height: 55rem;
  }

  &__bg {
    height: 100%;
    background-color: $color-blue-dark;
    background-image: url(../../images/web-dev-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: backgroundZoomOut 1s;

    @include respond(mobile-land) {
      background-attachment: initial;
    }
  }

  &__content {
    width: 50vw;
    min-width: 50rem;
    max-width: 75rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    & > * {
      color: #fff;
    }

    @include respond(tablet) {
      width: 100%;
      min-width: initial;
      max-width: 55rem;
    }

    @include respond(mobile) {
      padding: 0 $padding-side-mobile;
    }

    @media only screen and (max-width: 365px) {
      top: initial;
      bottom: 12.5%;
    }
  }

  &__heading {
    font-size: 6rem;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-bottom: 2rem;

    @include respond(tablet) {
      font-size: 5rem;
    }

    @include respond(mobile) {
      font-size: 4rem;
      hyphens: auto;
    }
  }

  &__text {
    font-size: 1.7rem;

    @include respond(mobile) {
      font-size: 1.6rem;
    }
  }
}

// FEATURED WORKS SECTION
.featured-works {
  padding: 8rem $padding-side-desktop 10rem;
  background-color: rgba($color-azure-light-2, 0.5);
  text-align: center;

  @include respond(tablet) {
    padding: 6rem $padding-side-mobile 7rem;
  }

  &__view-all {
    display: inline-block;
    margin: 3rem 0 5rem;

    .button {
      @include respond(mobile) {
        font-size: 1.4rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.4vw;
    max-width: 100rem;
    margin: auto;

    @include respond(tablet-land) {
      grid-gap: 4rem;
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-gap: 6rem;
      max-width: 50rem;
    }

    @include respond(mobile) {
      grid-gap: 4.5rem;
    }
  }
}

// FEATURES SECTION
.features {
  background-color: $color-blue-dark-2;
}

// TOOLS SECTION
.tools {
  background-color: rgba($color-azure-light-2, 0.5);
  color: $color-blue-dark;
  padding: 8rem $padding-side-desktop;

  @include respond(tablet) {
    padding: 6rem $padding-side-mobile;
  }

  &__heading {
    margin-bottom: 6rem;
  }

  &__grid {
    max-width: 90rem;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-row-gap: 2rem;

    @include respond(tablet) {
      max-width: 60rem;
    }

    @include respond(mobile-land) {
      max-width: initial;
    }

    @include respond(mobile) {
      margin: 0 -1rem;
      grid-row-gap: 1.75rem;
    }

    @media only screen and (max-width: 355px) {
      grid-auto-flow: initial;
      justify-items: center;
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include respond(mobile) {
      margin: 0 1rem;
    }
  }

  &__item-text {
    font-size: 2.5rem;
    font-weight: 600;

    @include respond(mobile) {
      font-size: 1.8rem;
      line-height: 1.4;
    }
  }

  &__item-icon {
    fill: $color-blue-dark;
    margin-right: 1.2rem;
    height: 4.5rem;
    width: 4.5rem;

    @include respond(mobile) {
      margin-right: 1rem;
      height: 3rem;
      width: 3rem;
    }
  }
}
