/*** INTRO SECTION ***/
.intro {
  &__container {
    padding: 3rem $padding-side-desktop 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    width: 35vw;
  }

  &__heading {
    font-size: 6rem;
    letter-spacing: -2px;
    margin-bottom: 1.5rem;
  }

  &__img {
    width: 37.5vw;
  }
}

/*** FEATURED WORKS SECTION ***/
.featured-works {
  padding: 8rem $padding-side-desktop;
  background-color: #fafafa;

  &__view-all {
    margin: 3rem auto 5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.4vw;
    max-width: 100rem;
    margin: auto;

    @include respond(tablet-land) {
      grid-gap: 4rem;
    }

    @include respond(tablet) {
      grid-template-columns: 1fr;
      grid-gap: 6rem;
      max-width: 50rem;
    }
  }
}
