.button {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.54rem;
  padding: 1.2rem 4rem 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;

  &--back {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;

    @include respond(mobile) {
      font-size: 1.2rem;
    }

    &__icon {
      margin-right: 1rem;
    }
  }
}

.bttn-unite {
  background-color: transparent !important;
}

.bttn-fill {
  &,
  &::before,
  &::after {
    border-radius: 100px !important;
  }
}

.bttn-stretch {
  letter-spacing: 0.5px;

  &:hover {
    letter-spacing: 1.5px;
  }
}

.button-back-container {
  padding: 4rem $padding-side-desktop;

  @include respond(tablet) {
    padding: 4rem $padding-side-mobile;
  }

  @include respond(mobile) {
    padding: 2.5rem $padding-side-mobile 4rem;
  }
}
