.button {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.55rem;
  padding: 1.2rem 4rem 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.bttn-unite,
.bttn-fill {
  background-color: transparent !important;
}

.bttn-fill {
  color: $color-azure !important;
  border: 1px solid $color-azure !important;

  &:hover {
    color: #fff !important;
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transform: scale(1.1) translateZ(0);
  }

  &,
  &::before,
  &::after {
    border-radius: 100px !important;
  }

  &::before,
  &::after {
    background-color: $color-azure !important;
  }
}

.bttn-stretch {
  letter-spacing: 0.5px;
  
  &:hover {
    letter-spacing: 1.5px;
  }
}
