.feature {
  @include respond(mobile) {
    padding-bottom: 5rem;
  }

  &__img {
    height: 70rem;
    width: 100%;
    background-size: cover;
    background-position: center;

    @include respond(mobile-land) {
      background-attachment: initial;
    }

    @include respond(mobile) {
      height: 40rem;
    }
  }

  &#slide1 &__img {
    background-image: url(../../images/web-dev-6.jpg);
  }

  &#slide2 &__img {
    background-image: url(../../images/web-dev-3.jpg);
  }

  &__content {
    width: 40vw;
    min-width: 35rem;
    background-color: rgba($color-blue-dark-2, 0.9);
    padding: 4rem;
    position: absolute;
    top: 20%;
    left: 10%;

    @include respond(mobile) {
      position: initial;
      width: 75%;
      margin: -12rem auto 0;
      min-width: initial;
      padding: 2.5rem;
      text-align: center;
      background-color: $color-blue-dark-2;
    }

    & > * {
      color: #fff;
    }
  }

  &__title {
    font-size: 3.3rem;
    margin-bottom: 2rem;

    @include respond(mobile) {
      font-size: 2.4rem;
    }
  }
}

.zoom-out-bg {
  animation: backgroundZoomOut 1s;

  @include respond(mobile) {
    animation: none;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  margin: 0 6px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullets {
  @include respond(mobile) {
    bottom: initial !important;
    top: 3rem;
  }
}

.swiper-slide, .swiper-wrapper, .swiper-container {
  background-color: $color-blue-dark !important;
}