.feature {
  &__img {
    height: 70rem;
    width: 100%;
    background-size: cover;
    background-position: center;

    @include respond(mobile-land) {
      background-attachment: initial;
      height: 40rem;
    }
  }

  &#slide1 &__img {
    background-image: url(../../images/web-dev-6.jpg);
  }

  &#slide2 &__img {
    background-image: url(../../images/web-dev-3.jpg);
  }

  &__content {
    width: 40vw;
    min-width: 35rem;
    background-color: rgba($color-blue-dark-2, 0.9);
    padding: 4rem;
    position: absolute;
    top: 20%;
    left: 10%;

    @include respond(mobile-land) {
      position: initial;
      width: 100%;
      min-width: initial;
      padding: 4rem $padding-side-mobile;
      text-align: center;
      box-sizing: border-box;
    }

    & > * {
      color: #fff;
    }
  }

  &__title {
    font-size: 3.3rem;
    margin-bottom: 2rem;

    @include respond(mobile) {
      font-size: 2.4rem;
    }
  }
}
