.form {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  padding: 3rem 4rem;
  border-radius: 0.8rem;
  box-shadow: $bshadow-1;
  overflow: hidden;

  @include respond(mobile) {
    padding: 3rem 2rem;
  }

  &__field {
    margin-bottom: 2rem;
    transition: margin-bottom 0.5s;
    position: relative;

    &.error {
      margin-bottom: 4rem;
    }

    &:last-of-type {
      margin-bottom: 3rem;

      &.error {
        margin-bottom: 5rem;
      }
    }

    &::after {
      content: "This field is required";
      position: absolute;
      left: 1rem;
      top: calc(100% + 1rem);
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-error;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-150%);
      transition: all 0.5s;

      @include respond(mobile) {
        font-size: 1.2rem;
      }
    }

    &.error::after {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    &.message.error::after {
      content: "Please enter a message";
    }

    &.error.invalid::after {
      content: "Invalid email";
    }
  }

  &__input {
    width: 100%;
    font: inherit;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid $color-blue-dark;
    padding: 1.5rem 1rem;
    transition: border-color 0.5s;

    @include respond(mobile) {
      font-size: 1.45rem;
    }

    &:focus {
      border-bottom: 1px solid $color-azure;
    }
  }

  &__textarea {
    resize: none;
    height: 10rem;
  }

  .button {
    margin: auto;
    width: 100%;
    max-width: 25rem;

    @include respond(mobile) {
      font-size: 1.3rem;
      max-width: none;
    }
  }
}
