.form {
  width: 100%;
  max-width: 60rem;
  margin: auto;
  padding: 4rem;
  border-radius: 0.8rem;
  box-shadow: $bshadow-1;
  background-color: $color-azure-light;
  overflow: hidden;

  @include respond(mobile) {
    padding: 3rem 2rem;
  }

  &__field {
    margin-bottom: 2rem;
    transition: margin-bottom 0.5s;
    position: relative;

    &.error {
      margin-bottom: 4.5rem;
    }

    &:last-of-type {
      margin-bottom: 3rem;

      &.error {
        margin-bottom: 5.5rem;
      }
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background-color: $color-error;
      transition: all 0.3s;
    }

    &.error::before {
      width: 0.6rem;

      @include respond(mobile) {
        width: 0.4rem;
      }
    }

    &::after {
      content: "This field is required";
      position: absolute;
      left: 1.5rem;
      top: calc(100% + 1rem);
      font-size: 1.3rem;
      font-weight: 600;
      color: $color-error;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-150%);
      transition: all 0.5s;

      @include respond(mobile) {
        font-size: 1.2rem;
      }
    }

    &.error::after {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    &#email::after {
      content: "Invalid email";
    }

    &#email.empty::after {
      content: "This field is required";
    }

    &:last-of-type.error::after {
      content: "Please enter a message";
    }
  }

  &__input {
    width: 100%;
    font: inherit;
    font-size: 1.5rem;
    border: 2px solid transparent;
    outline: none;
    padding: 1.5rem;
    transition: border-color 0.5s;
    display: block;

    @include respond(mobile) {
      font-size: 1.4rem;
    }

    &:focus {
      border-color: $color-azure !important;
    }
  }

  &__textarea {
    resize: none;
    height: 11rem;
  }

  .button {
    margin: auto;
    width: 100%;
    max-width: 25rem;

    @include respond(mobile) {
      font-size: 1.3rem;
      max-width: none;
    }
  }
}
