.swiper-pagination-bullet.swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
  margin: 0 6px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-pagination-bullets {
  @include respond(mobile-land) {
    bottom: initial !important;
    top: 3rem;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
  transition: color 0.5s;

  &:hover {
    color: $color-azure !important;
  }
}

.swiper-button-prev.swiper-button-prev {
  left: 2rem;

  @include respond(mobile) {
    left: 1rem;
  }
}

.swiper-button-next.swiper-button-next {
  right: 2rem;

  @include respond(mobile) {
    right: 1rem;
  }
}