.work {
  padding: 10rem $padding-side-desktop;

  @include respond(tablet) {
    padding: 10rem $padding-side-mobile;
  }

  @include respond(mobile) {
    padding: 6rem $padding-side-mobile;
  }

  &--reversed {
    background-color: rgba($color-azure-light-2, 0.5);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tablet-land) {
      flex-direction: column !important;
      text-align: center;
      max-width: 70rem;
      margin: auto;
    }
  }

  &--reversed &__container {
    flex-direction: row-reverse;
  }

  &__img {
    overflow: hidden;
    width: 38vw;
    box-shadow: $bshadow-1;

    @include respond(tablet-land) {
      width: 100%;
      max-width: 50rem;
      margin-bottom: 6rem;
    }

    @include respond(mobile) {
      margin-bottom: 5rem;
    }

    img {
      width: 100%;
      transition: transform 0.5s;

      &:hover {
        @media (hover: hover) {
          transform: scale(1.5);
        }
      }
    }
  }

  &__content {
    width: 35vw;

    @include respond(tablet-land) {
      width: 100%;
    }
  }

  &__title {
    font-size: 3.2rem;

    @include respond(mobile) {
      font-size: 2.5rem;
    }
  }

  &__description {
    margin: 2.5rem 0;
    font-size: 1.6rem;

    @include respond(mobile) {
      font-size: 1.5rem;
    }
  }

  &__buttons {
    display: flex;

    @include respond(tablet-land) {
      justify-content: center;
    }

    @include respond(mobile) {
      flex-direction: column;
      align-items: center;
    }

    & > * {
      @include respond(mobile) {
        width: 100%;
        max-width: 25rem;
      }

      &:not(:last-child) {
        margin-right: 2rem;

        @include respond(mobile) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .button {
    font-size: 1.4rem;
    padding-left: 3rem;
    padding-right: 3rem;

    @include respond(mobile) {
      font-size: 1.2rem;
      width: 100%;
    }
  }
}
