.gallery {
  padding: 0 $padding-side-desktop 8rem;

  @include respond(tablet-land) {
    padding: 0 $padding-side-mobile 8rem;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 10rem;
    max-width: 85rem;
  }

  &__heading {
    font-size: 4.5rem;
    max-width: 60rem;
    margin: auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: calc(100% + 1rem);
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 6px;
      background-color: $color-azure;
    }
  }

  &__intro-text {
    margin: 6rem 0 3rem;
    font-size: 1.6rem;
  }

  &__container {
    display: flex;
  }

  &__items {
    flex: 1;
    padding: 0 6rem;
  }

  &__selected {
    width: 47%;
    text-align: center;
  }

  &__selected-text {
    margin-bottom: 4rem;
  }

  &__selected-title {
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }

  &__selected-subtext {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__selected-img {
    box-shadow: $bshadow-1;
  }
}
