.page-heading {
  background-color: $color-blue-dark;
  background-image: url(../../images/backgrounds/Rainbow-Spinner-4.svg);
  background-attachment: fixed;
  background-size: cover;
  height: 25rem;
  position: relative;

  @include respond(mobile-land) {
    background-attachment: initial;
  }

  @include respond(mobile) {
    height: 22rem;
  }

  &__title {
    position: absolute;
    width: 90%;
    text-align: center;
    left: $padding-side-mobile;
    right: $padding-side-mobile;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5.5rem;
    color: #fff;

    @include respond(mobile) {
      font-size: 4rem;
    }
  }
}
