.page-heading {
  height: 37rem;
  background-color: $color-blue-dark-2;
  background-image: url(../../images/web-dev-1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  animation: backgroundZoomOut 1s;
  position: relative;

  @include respond(mobile-land) {
    background-attachment: initial;
  }

  @include respond(mobile) {
    height: 30rem;
    animation: none;
  }

  &__title {
    position: absolute;
    text-align: center;
    left: $padding-side-mobile;
    right: $padding-side-mobile;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5.5rem;
    color: #fff;

    @include respond(mobile) {
      font-size: 4rem;
    }
  }
}