.suggestions {
  background-color: $color-azure-light;
  padding: 6.5rem $padding-side-desktop;

  @include respond(tablet) {
    padding: 6.5rem $padding-side-mobile;
  }

  @include respond(mobile) {
    padding: 6rem $padding-side-mobile 5rem;
  }

  &__heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 6rem;

    @include respond(mobile) {
      font-size: 2.7rem;
      margin-bottom: 4rem;
    }
  }

  &__item {
    text-align: center;
  }

  &__img {
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: $bshadow-1;
    width: 24.5vw;
    position: relative;

    @include respond(tablet) {
      width: 40.2vw;
    }

    @include respond(mobile) {
      width: 86.1vw;
    }

    img {
      width: 100%;
      transition: all 0.5s;

      &:hover {
        @media (hover: hover) {
          transform: scale(1.3);
        }
      }
    }
  }

  &__name {
    font-size: 2rem;
    transition: color 0.5s;

    &:hover {
      color: $color-azure;
    }

    @include respond(mobile) {
      font-size: 1.7rem;
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  border-radius: 50%;
  background-color: #fff;
  width: 4rem !important;
  height: 4rem !important;
  box-shadow: $bshadow-1 !important;

  @include respond(mobile) {
    width: 3rem !important;
    height: 3rem !important;
  }

  &::after {
    font-size: 1.8rem !important;
    color: $color-blue-dark;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    transition: all 0.5s;

    @include respond(mobile) {
      font-size: 1.5rem !important;
    }
  }

  &:hover::after {
    color: $color-azure;
  }
}

.swiper {
  @include respond(mobile) {
    padding-bottom: 5rem !important;
  }
}

.swiper-pagination {
  display: none;

  @include respond(mobile) {
    display: block;
    bottom: 0;
  }
}

.swiper-pagination-bullet-active {
  background: $color-azure !important;
}
